In [20]:
import tushare as ts
from jqdatasdk import *
import pymysql

In [22]:
db = pymysql.connect(
    host = "localhost"
    ,user = 'root'
    ,password = "bwh759149492"
    ,db = 'quant'
    ,port = 3306
)
cur = db.cursor()

In [33]:
cur.execute("drop table if exists test01")
cur.execute(
"""
CREATE TABLE test01 (
    a VARCHAR(1000)
    ,b BIGINT(100)
)
""")

0

In [34]:
data = {
    "a": "60009.XSHE"
    ,"b": 100
}
di = ""
for i in data.keys():
    di = (di + '"%s"' + ",") % (data[i])
di

'"60009.XSHE","100",'

In [35]:
insert_sql = "INSERT INTO test01 VALUES (%s)" % (di[:-1])
cur.execute(insert_sql) 
cur.connection.commit()

In [44]:
sql = cur.execute(
"""
SELECT  AVG(b) AS abg_b
FROM    test01
"""
)
data = cur.fetchone()
data

(Decimal('100.0000'),)

In [9]:
print(ts.__version__)
auth('18211130237','Bwh759149492')

1.2.77
auth success

In [19]:
a = normalize_code('600848')
get_security_info(a).display_name

'上海临港'

In [4]:
ts.get_hist_data('600848')

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-12-10,14.42,14.55,14.49,14.42,39393.64,-0.05,-0.34,14.358,14.294,14.330,46793.93,40605.39,32855.31,0.27
2021-12-09,14.30,14.58,14.54,14.25,74250.53,0.22,1.54,14.326,14.268,14.329,46630.05,38752.85,32215.77,0.51
2021-12-08,14.32,14.34,14.32,14.10,43747.38,0.07,0.49,14.278,14.241,14.329,39601.92,33953.42,30757.93,0.30
2021-12-07,14.29,14.33,14.25,14.10,42002.59,0.06,0.42,14.264,14.244,14.329,37170.02,32051.97,29879.18,0.29
2021-12-06,14.39,14.40,14.19,14.19,34575.53,-0.14,-0.98,14.250,14.250,14.328,34667.61,30726.72,28838.98,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-18,30.08,30.08,29.81,29.35,32152.20,-0.22,-0.73,30.162,30.162,30.162,54878.66,54878.66,54878.66,0.41
2019-06-17,29.01,30.28,30.03,28.81,41121.82,0.33,1.11,30.250,30.250,30.250,60560.28,60560.28,60560.28,0.52
2019-06-14,30.22,30.80,29.70,29.70,47776.00,-0.81,-2.65,30.323,30.323,30.323,67039.76,67039.76,67039.76,0.61
2019-06-13,30.76,30.96,30.51,29.90,78942.27,-0.25,-0.81,30.635,30.635,30.635,76671.64,76671.64,76671.64,1.00
2019-06-12,30.70,31.44,30.76,30.08,74401.01,0.01,0.03,30.760,30.760,30.760,74401.01,74401.01,74401.01,0.94