In [5]:
import tushare as ts
from jqdatasdk import *
import pymysql

PROJECT_PATH = "/Users/stephenbo/JOB/PROJECT/quantification_new/"
import sys, os
sys.path.append(PROJECT_PATH + "./utils")
import mysql as mq 
from tools import *

### SQL CODE TESTING

In [8]:
mysql = mq.MY_SQL()

In [3]:
mysql.drop_table("test01")

In [4]:
mysql.create_table(
    table_name = "test01"
    ,table_elements = {
        "stock_name":       "VARCHAR(1000)"
        ,"stock_code":      "VARCHAR(1000)"
        ,"open":            "FLOAT"
        ,"close":           "FLOAT"
        ,"high":            "FLOAT"
        ,"volume":          "FLOAT"
        ,"money":           "FLOAT"
        ,"factor":          "FLOAT"
        ,"high_limit":      "FLOAT"
        ,"low_limit":       "FLOAT"
        ,"avg":             "FLOAT"
        ,"pre_close":       "FLOAT"
        ,"paused":          "FLOAT"
        ,"open_interest":   "FLOAT"
        ,"ds":              "VARCHAR(1000)"
    }
)

In [5]:
mysql.create_table(
    table_name = "test03"
    ,table_elements = {
        "stock_name":       "VARCHAR(1000)"
        ,"label":           "BIGINT"
        ,"ds":              "VARCHAR(1000)"
    }
)

In [5]:
mysql.insert_table(
    table_name = "test01"
    ,attribute_list = [
        "stock_name", "stock_code", "open", "close", "high", "volume", "money", "factor"
        ,"high_limit", "low_limit", "avg", "pre_close", "paused", "open_interest", "ds"
    ]
    ,elements = [
        ("stock02", "00001", "0.0", "0.1", "0.2", "0.3", "0.4", "0.5"
        ,"0.6", "0.7", "0.8", "0.9", "1.0", "1.1", "1.2")
        ,("stock03", "00001", "0.0", "0.1", "0.2", "0.3", "0.4", "0.5"
        ,"0.6", "0.7", "0.8", "0.9", "1.0", "1.1", "1.2")
        ,("stock03", "00002", "0.0", "0.1", "0.2", "0.3", "0.4", "0.5"
        ,"0.6", "0.7", "0.8", "0.9", "1.0", "1.1", "1.2")
    ]
)

In [11]:
data = mysql.select_table(
    """
    SELECT  stock_name, stock_code
    FROM    test01
    """
)
print(len(data))
data

2

(('stock02', '00001'), ('stock03', '00002'))

In [10]:
mysql.delete_elements(
    table_name = "test01"
    ,clause_list = [
        "stock_name = 'stock03'"
        ,"stock_code = '00001'"
    ]
)

In [ ]:
----------------------------------------------------------------------------------------------

### JQDATA CODE TESTING

In [1]:
PROJECT_PATH = "/Users/stephenbo/JOB/PROJECT/quantification_new/"
import sys, os
sys.path.append(PROJECT_PATH + "./utils")
from joinquant import *
import pandas as pd

In [2]:
jqdata = joinquant()

auth success

In [3]:
stock_info = jqdata.get_all_stock_info()
stock_info

            display_name  name start_date   end_date   type
000001.XSHE         平安银行  PAYH 1991-04-03 2200-01-01  stock
000002.XSHE          万科A   WKA 1991-01-29 2200-01-01  stock
000004.XSHE         国华网安  GHWA 1990-12-01 2200-01-01  stock
000005.XSHE         ST星源  STXY 1990-12-10 2200-01-01  stock
000006.XSHE         深振业A  SZYA 1992-04-27 2200-01-01  stock
...                  ...   ...        ...        ...    ...
688799.XSHG         华纳药厂  HNYC 2021-07-13 2200-01-01  stock
688800.XSHG          瑞可达   RKD 2021-07-22 2200-01-01  stock
688819.XSHG         天能股份  TNGF 2021-01-18 2200-01-01  stock
688981.XSHG         中芯国际  ZXGJ 2020-07-16 2200-01-01  stock
689009.XSHG         九号公司  JHGS 2020-10-29 2200-01-01  stock

[4697 rows x 5 columns]

In [6]:
save_csv(
    data = stock_info
    ,file_path = "/Users/stephenbo/JOB/PROJECT/quantification_new/data/stock_info.csv"
    # ,header = False
    ,index = True
)

In [10]:
mysql.create_table(
    table_name = "stock_info"
    ,table_elements = {
        "stock_name":       "VARCHAR(1000)"
        ,"stock_code":      "VARCHAR(1000)"
        ,"name":            "VARCHAR(1000)"
        ,"start_date":      "VARCHAR(1000)"
        ,"end_date":        "VARCHAR(1000)"
    }
)

1

In [11]:
stock_info = pd.read_csv("/Users/stephenbo/JOB/PROJECT/quantification_new/data/stock_info.csv")
stock_info.columns = ["stock_code", "stock_name", "name", "start_date", "end_date", "type"]
stock_info.columns

Index(['stock_code', 'stock_name', 'name', 'start_date', 'end_date', 'type'], dtype='object')

In [14]:
len(stock_info)

4697

In [13]:
stock_info_dict = change_dataframe_to_dict(stock_info)
stock_info_dict

{'stock_code': array(['000001.XSHE', '000002.XSHE', '000004.XSHE', ..., '688819.XSHG',
        '688981.XSHG', '689009.XSHG'], dtype=object),
 'stock_name': array(['平安银行', '万科A', '国华网安', ..., '天能股份', '中芯国际', '九号公司'], dtype=object),
 'name': array(['PAYH', 'WKA', 'GHWA', ..., 'TNGF', 'ZXGJ', 'JHGS'], dtype=object),
 'start_date': array(['1991-04-03', '1991-01-29', '1990-12-01', ..., '2021-01-18',
        '2020-07-16', '2020-10-29'], dtype=object),
 'end_date': array(['2200-01-01', '2200-01-01', '2200-01-01', ..., '2200-01-01',
        '2200-01-01', '2200-01-01'], dtype=object),
 'type': array(['stock', 'stock', 'stock', ..., 'stock', 'stock', 'stock'],
       dtype=object)}

In [18]:
stock_info_insert_element = list()
stock_info_insert_att_list = [
    "stock_code", "stock_name", "name", "start_date", "end_date"
]
for i in range(len(stock_info)):
    insert_element = list()
    for att in stock_info_insert_att_list:
        insert_element.append(stock_info_dict[att][i])
    insert_element = tuple(insert_element)
    stock_info_insert_element.append(insert_element)
stock_info_insert_element[:4]

[('000001.XSHE', '平安银行', 'PAYH', '1991-04-03', '2200-01-01'),
 ('000002.XSHE', '万科A', 'WKA', '1991-01-29', '2200-01-01'),
 ('000004.XSHE', '国华网安', 'GHWA', '1990-12-01', '2200-01-01'),
 ('000005.XSHE', 'ST星源', 'STXY', '1990-12-10', '2200-01-01')]

In [19]:
mysql.insert_table(
    table_name = "stock_info"
    ,attribute_list = stock_info_insert_att_list
    ,elements = stock_info_insert_element
)

In [ ]:
----

In [ ]:
----------------------------------------------------------------------------------------------

In [4]:
from jqdatasdk import *

In [5]:
stock_info_data = get_all_securities(types=['stock'], date=None)

In [6]:
stock_info_data.columns

Index(['display_name', 'name', 'start_date', 'end_date', 'type'], dtype='object')

In [8]:
save_csv(
    data = stock_info_data
    ,file_path = "/Users/stephenbo/JOB/PROJECT/quantification_new/data/stock_info.csv"
    ,header = False
)