In [1]:
import tushare as ts
from jqdatasdk import *
import pymysql

PROJECT_PATH = "/Users/stephenbo/JOB/PROJECT/quantification_new/"
import sys, os
sys.path.append(PROJECT_PATH + "./utils")
import mysql as mq

### SQL CODE TESTING

In [2]:
mysql = mq.MY_SQL()

In [3]:
mysql.drop_table("test01")

In [4]:
mysql.create_table(
    table_name = "test01"
    ,table_elements = {
        "stock_name":       "VARCHAR(1000)"
        ,"stock_code":      "VARCHAR(1000)"
        ,"open":            "FLOAT"
        ,"close":           "FLOAT"
        ,"high":            "FLOAT"
        ,"volume":          "FLOAT"
        ,"money":           "FLOAT"
        ,"factor":          "FLOAT"
        ,"high_limit":      "FLOAT"
        ,"low_limit":       "FLOAT"
        ,"avg":             "FLOAT"
        ,"pre_close":       "FLOAT"
        ,"paused":          "FLOAT"
        ,"open_interest":   "FLOAT"
        ,"ds":              "VARCHAR(1000)"
    }
)

In [5]:
mysql.insert_table(
    table_name = "test01"
    ,attribute_list = [
        "stock_name", "stock_code", "open", "close", "high", "volume", "money", "factor"
        ,"high_limit", "low_limit", "avg", "pre_close", "paused", "open_interest", "ds"
    ]
    ,elements = [
        ("stock02", "00001", "0.0", "0.1", "0.2", "0.3", "0.4", "0.5"
        ,"0.6", "0.7", "0.8", "0.9", "1.0", "1.1", "1.2")
        ,("stock03", "00001", "0.0", "0.1", "0.2", "0.3", "0.4", "0.5"
        ,"0.6", "0.7", "0.8", "0.9", "1.0", "1.1", "1.2")
        ,("stock03", "00002", "0.0", "0.1", "0.2", "0.3", "0.4", "0.5"
        ,"0.6", "0.7", "0.8", "0.9", "1.0", "1.1", "1.2")
    ]
)

In [11]:
data = mysql.select_table(
    """
    SELECT  stock_name, stock_code
    FROM    test01
    """
)
print(len(data))
data

2

(('stock02', '00001'), ('stock03', '00002'))

In [10]:
mysql.delete_elements(
    table_name = "test01"
    ,clause_list = [
        "stock_name = 'stock03'"
        ,"stock_code = '00001'"
    ]
)

In [24]:
" AND ".join(["stock=1", "name=2"])

'stock=1 AND name=2'

In [5]:
db = pymysql.connect(
    host = "localhost"
    ,user = 'root'
    ,password = "bwh759149492"
    ,db = 'quant'
    ,port = 3306
)
cur = db.cursor()

In [8]:
cur.execute("drop table if exists test01")
cur.execute(
"""
CREATE TABLE test01 (
    a VARCHAR(1000)
    ,b BIGINT(100)
)
PARTITIONED BY (
    ds VARCHAR(100)
)
""")

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'PARTITIONED BY (\n    ds VARCHAR(100)\n)' at line 5")

In [34]:
data = {
    "a": "60009.XSHE"
    ,"b": 100
}
di = ""
for i in data.keys():
    di = (di + '"%s"' + ",") % (data[i])
di

'"60009.XSHE","100",'

In [48]:
di[:-1]

'"60009.XSHE","100"'

In [3]:
a = [(1,2,3,3.2,"2"), (1,2,3,3.2,"2")]
str(a[0])

"(1, 2, 3, 3.2, '2')"

In [53]:
insert_sql = 'INSERT INTO test01 VALUES ("60009.XSHE","100" "60009.XSHE","100")'
insert_sql = """
INSERT INTO test01(a, b) 
VALUES
("test1", 1)
,("test2", 2)
"""
cur.execute(insert_sql) 
cur.connection.commit()

In [61]:
sql = cur.execute(
"""
SELECT  *
FROM    test01
"""
)
data = cur.fetchall()
print(data)
a, b = data[0]
a

(('60009.XSHE', 100), ('60009.XSHE', 100), ('test1', 1), ('test2', 2))

'60009.XSHE'

In [9]:
print(ts.__version__)
auth('18211130237','Bwh759149492')

1.2.77
auth success

In [19]:
a = normalize_code('600848')
get_security_info(a).display_name

'上海临港'

In [4]:
ts.get_hist_data('600848')

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-12-10,14.42,14.55,14.49,14.42,39393.64,-0.05,-0.34,14.358,14.294,14.330,46793.93,40605.39,32855.31,0.27
2021-12-09,14.30,14.58,14.54,14.25,74250.53,0.22,1.54,14.326,14.268,14.329,46630.05,38752.85,32215.77,0.51
2021-12-08,14.32,14.34,14.32,14.10,43747.38,0.07,0.49,14.278,14.241,14.329,39601.92,33953.42,30757.93,0.30
2021-12-07,14.29,14.33,14.25,14.10,42002.59,0.06,0.42,14.264,14.244,14.329,37170.02,32051.97,29879.18,0.29
2021-12-06,14.39,14.40,14.19,14.19,34575.53,-0.14,-0.98,14.250,14.250,14.328,34667.61,30726.72,28838.98,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-18,30.08,30.08,29.81,29.35,32152.20,-0.22,-0.73,30.162,30.162,30.162,54878.66,54878.66,54878.66,0.41
2019-06-17,29.01,30.28,30.03,28.81,41121.82,0.33,1.11,30.250,30.250,30.250,60560.28,60560.28,60560.28,0.52
2019-06-14,30.22,30.80,29.70,29.70,47776.00,-0.81,-2.65,30.323,30.323,30.323,67039.76,67039.76,67039.76,0.61
2019-06-13,30.76,30.96,30.51,29.90,78942.27,-0.25,-0.81,30.635,30.635,30.635,76671.64,76671.64,76671.64,1.00
2019-06-12,30.70,31.44,30.76,30.08,74401.01,0.01,0.03,30.760,30.760,30.760,74401.01,74401.01,74401.01,0.94

In [46]:
stock_info_data = get_all_securities(types=['stock'], date=None)

In [47]:
stock_info_data

            display_name  name start_date   end_date   type
000001.XSHE         平安银行  PAYH 1991-04-03 2200-01-01  stock
000002.XSHE          万科A   WKA 1991-01-29 2200-01-01  stock
000004.XSHE         国华网安  GHWA 1990-12-01 2200-01-01  stock
000005.XSHE         ST星源  STXY 1990-12-10 2200-01-01  stock
000006.XSHE         深振业A  SZYA 1992-04-27 2200-01-01  stock
...                  ...   ...        ...        ...    ...
688799.XSHG         华纳药厂  HNYC 2021-07-13 2200-01-01  stock
688800.XSHG          瑞可达   RKD 2021-07-22 2200-01-01  stock
688819.XSHG         天能股份  TNGF 2021-01-18 2200-01-01  stock
688981.XSHG         中芯国际  ZXGJ 2020-07-16 2200-01-01  stock
689009.XSHG         九号公司  JHGS 2020-10-29 2200-01-01  stock

[4697 rows x 5 columns]